{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
     <!-- Area Chart Example-->
 <!-- Area Chart Example-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-chart-area"></i>
          Cargar deuda
        </div>
          <div class="card-body">

              {{form.as_p}}

            <button type="submit" class="btn btn-primary " name="btnCargarDeuda">Realizar Cargo</button>

          </div>
          </form>
        </div>
        <div class="card-footer small text-muted"></div>
      </div>

{% endblock %} 