{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}
Asignación
{% endblock %}
{%block css%}
  <link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin.min.css' %}">
  <!-- Page level plugin CSS-->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" type="text/css" rel="stylesheet">
{%endblock%}
{% block content %}
<div id="wrapper">
      <div id="content-wrapper">
        <div class="container-fluid">
          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              <strong> Datos del Miembro -</strong> 
              <strong> Nombre:</strong> {{miembro.nombre_m}}  &nbsp;
              <strong> Apellido:</strong> {{miembro.apellido_m}} &nbsp;
              <strong> Carnet:</strong> {{miembro.carnet}}&nbsp;
            
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Fecha</th>
                      <th>Concepto</th>
                      <th>Monto adeudado</th>
                      <th>Saldo </th>
                      <th>Saldar</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Fecha</th>
                      <th>Concepto</th>
                      <th>Monto adeudado</th>
                      <th>Saldo </th>
                      <th>Saldar</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {%if cuentas%}
                    {%for c in cuentas%}
                    <tr>
                      <td>{{c.fecha_cc}}</td>
                      <td>{{c.concepto_cc}}</td>
                      <td>{{c.monto_cc}}</td>
                      <td>{{c.saldo_cc}}</td>
                      <td>
                        <a class="btn btn-primary" data-toggle = "modal"  href="#f{{forloop.counter}}" > Abonar</a>
                      </td>
                    </tr>
                    <div class="modal fade" id="f{{forloop.counter}}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Header de ventana-->
                                <div class="modal-header">
                                    <h5 class="modal-title">Saldar Cuenta</h5>
                                    <button tyle="button" class="close" data-dismiss="modal" aria-hidden = "true">&times;</button>
                                </div>
                                <!-- Contenido de la ventana -->
                                <div class="modal-body">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="row">
                                          <div class="col-md-12">
                                          <label>Cantidad a abonar: </label>
                                             {{formulario.monto_cc}}
                                          </div> 
                                          
                                          </div>
                                          <br><br> 
                                          <input type="hidden" name="inputCuenta" value= "{{c.id}}">
                                          {%if periodo%}
                                          <button type="submit" class="btn btn-primary" name="btnAbono"> Abonar</button>
                                          {%else%}
                                          <div class="alert alert-info" role="alert">
                                            Para poder registrar el abono. Se debe de tener un periodo vigente, por favor 
                                            <a href="{%url 'periodo_directivo'%}" > crear un nuevo periodo </a>.
                                          </div>
                                          {%endif%}
                                          <button type="button" class="btn btn-default" data-dismiss= "modal" name="btnForm">Cancelar</button>
                                    </form>
                                </div>

                                <!-- Footer-->
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                    {%endif%}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Actualizado {{fecha}}</div>
          </div>

        </div>
        <!-- /.container-fluid -->

        
      </div>
      <!-- /.content-wrapper -->
    </div>

    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
            
{%block js%}
  <script type="text/javascript" src="{% static 'js/sb-admin.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/sb-admin.min.js'%}"></script>
  <!-- Bootstrap core JavaScript-->
    <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script type="text/javascript" src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Page level plugin JavaScript-->
    <script type="text/javascript" src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/demo/datatables-demo.js' %}"></script>
{%endblock%}
{% endblock %}