{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}
Periodos
{% endblock %}
{%block css%}
	<link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin.min.css' %}">
{%endblock%}
{% block content %}
{%block js%}
	<script type="text/javascript" src="{% static 'js/sb-admin.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/sb-admin.min.js'%}"></script>
{%endblock%}
{% endblock %}
