{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}
Periodos Directivos
{% endblock %}
{%block css%}
	<link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin.min.css' %}">
{%endblock%}	
{% block content %}
    <div id="wrapper">
      <div id="content-wrapper">
        <div class="container-fluid">
          <br>
          <div class="row">
            <div class="col-lg-10">
              <p>Periodos Directivos </p>
            </div>
            <div class="col-lg-2">
            {% if user.is_staff == True %}
            {% if cant == 0 %}
            <a class="btn btn-success" href="{%url 'crear_periodo'%}" >Nuevo Periodo</a>
            {% else %}
            <a class="btn btn-default" data-toggle = "modal" href="#crearNo" >Nuevo Periodo</a>
            {%endif%}
            {%endif%}
          </div>
        </div>
        <br>
          {%if periodos %} 
          {%for p in periodos%}
          <div class="card">
            <div class="card-header">
              {{p.nombre_periodo}}
            </div>
            <div class="card-body">
            <h5 class="card-title">Inicio de periodo: {{p.inicio_periodo_anual}} | final de periodo: {{p.final_periodo_anual}}</h5> 
            {%if p.estado_periodo_anual%}
            <p class="card-text">Estado:
            Finalizado
             </p>
            {%else%}
            <p class="card-text">Estado:
            En curso
            </p>
            <a href="#" class="btn btn-danger">Cerrar Periodo</a>
            {%endif%}
            <a href="#" class="btn btn-primary">Ver registro</a>
            </div>
          </div>
          <br>
          {%endfor%}
          {%else%}
          <div class="card">
            <div class="card-header">
              No existen periodos directivos.
            </div>
            <div class="card-body">
            <h5 class="card-title">No se encuentran periodos en la base de datos, por favor crear uno nuevo.</h5>
            </div>
          </div>
          <br>
          {%endif%}
        </div>
      </div>
    </div>
<!-- Ventana modal de advertencia de no poder crear un nuevo periodo--> 
          <div class="modal fade" id="crearNo">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Header de ventana-->
                                <div class="modal-header">
                                    <h5 class="modal-title">Nuevo Periodo</h5>
                                    <button tyle="button" class="close" data-dismiss="modal" aria-hidden = "true">&times;</button>
                                </div>
                                <!-- Contenido de la ventana -->
                                <div class="modal-body">
                                        <p class="text-align">No puede abrir un nuevo periodo dado que existe un periodo actual vigente.</p> 
                                </div>
                                <!--Footer-->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss= "modal" name="btnModal">Aceptar</button>
                                </div>
                            </div>
                        </div>
                    </div> 

{%block js%}
	<script type="text/javascript" src="{% static 'js/sb-admin.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/sb-admin.min.js'%}"></script>
{%endblock%}
{% endblock %}
