{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}SIHPSA | Inventario{% endblock %}

{% block content %}
{%if error%}
<div class="alert alert-danger text-center" role="alert">
  La cantidad excede a existencias del inventario
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{%endif%}
<form method='post'>
  {% csrf_token %}
  <div class="form-group">
    <label>Articulos</label>
    {{form.articulo}}
  </div>
  <div class="form-group">
    <label>concepto de venta</label>
    {{form.concepto_venta}}
  </div>
  <div class="form-group">
    <label>cantidad</label>
    {{form.cantidad}}
  </div>
  <div class="form-group">
    <label>Precio de venta</label>
    {{form.precio_venta_unitario}}
  </div>
  <div class="form-group">
    <label>monto total</label>
    {{form.monto_total}}
  </div>
  <div class="form-group">
    <label>fecha de venta</label>
    {{form.fecha_venta}}
  </div>
  <button type="submit" class="btn-info">Guardar</button>
</form>

<script type="text/javascript">
  function monto() {
    var cantidad = document.getElementById("id_cantidad").value;
    var precio = document.getElementById("id_precio_venta_unitario").value;
    var monto;
    monto = parseFloat(precio) * parseFloat(cantidad);
    document.getElementById("id_monto_total").value = monto.toFixed(2);
    //console.log(monto);
  }
</script>
{%endblock%}